#header{
background: #88a;
height:7em;
background-image:url(images/stone.jpg);
}
p{
font-size: 1.5ex;
}
#small_text{
font-family: Arial, Geneva, sans-serif;
font-size: 14px;
}
#user_name{
font-size: 2ex;
color:#33f;
}
#red_text{
color:red;
}
#flags{
position:absolute;
right:70px;
}
#admin{
position:absolute;
right:170px;
top:10px;
}
#large_text{
font-size:2.5ex;
font-family:Droid Sans Mono, Arial, sans-serif;
}
#add_math{
font-family:Arial, Geneva, sans-serif;
font-size:2.2ex;
}
html{
background-image:url(images/white.jpg);
}
#large_text :visited{
color:#ffa;
}
