#header{
background: #88a;
height:7em;
}
p{
font-size: 1.5ex;
}
#small_text{
font-family: Arial, Geneva, sans-serif;
font-size: 14px;
}
#user_name{
font-size: 2ex;
color:#33f;
}
#red_text{
color:red;
}
